<ul>
  {{#foreach navigation}}
    <li><a href="{{url absolute="true"}}">{{label}}</a></li>
  {{/foreach}}
    <li><a href="#">Top</a></li>
    <li>Neige theme made by <a href="https://quentin-bellanger.com">Quentin</a></li>
</ul>
