<div class="navigation">
  <ul class="navigation-item-list">
    {{#foreach navigation}}
      <li class="navigation-item"><a href="{{url absolute="true"}}">{{label}}</a></li>
    {{/foreach}}
      <li class="navigation-item"><a href="#">Top</a></li>
      <li class="navigation-item right"><a href="https://quentin-bellanger.com" target="_blank">Neige by Quentin</a></li>
  </ul>
</div>
