.author {
  margin: 70px auto 0 auto;
  max-width: 600px;
  padding: 25px;

  @media(min-width: 768px){
    margin: 0 auto;
    padding: 50px;
  }

  .posts {
    border-top: 1px solid $color-grey-70;

    .posts-item {
      padding: 25px 0;

      a {
        text-decoration: none;
      }
    }
  }
}
