/* HEADINGS */
/*----------*/

h1, h2, h3, h4, h5, h6 {
  font-family: $font-serif;
  font-weight: 400;
  line-height: 1.4em;
  margin: 25px 0 12.5px 0;
}

h1 {
  font-size: 32px;
  @media(min-width: 768px){
    font-size: 45px;
  }
}

h2 {
  font-family: $font-serif;
  font-size: 28px;
  font-weight: bold;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
  font-weight: bold;
}

h5 {
  font-size: 18px;
  font-weight: bold;
}

h6 {
  font-size: 16px;
  font-weight: bold;
}

/* MEDIAS */
/*--------*/

img {
  max-width: 100%;
}

/* LISTS */
/*-------*/

/* TABLES */
/*--------*/

table {
  border-collapse: collapse;
  display: block;
  margin: 25px 0 12.5px 0;
  overflow-x: auto;
  width: 100%;
  @media(min-width: 768px) {
    display: table;
    overflow-x: visible;
  }
}

th {
  background: $color-grey-70;
  text-align: left;
}

th, td {
  border: 1px solid $color-grey;
  min-width: 80px;
  padding: 10px;
}

/* PREFORMATED TEXT */
/*------------------*/

pre {
  background: $color-grey-70;
  padding: 20px;
  margin: 25px 0 12.5px 0;
  overflow-x: auto;
  white-space: pre-wrap;
}

code {
  background: $color-grey-70;
  line-height: 1.4em;
  padding: 2px 5px;
}
/* BLOCKQUOTES */
/*-------------*/

blockquote {
  border-left: 2px solid $color-grey-30;
  color: $color-grey-30;
  font-family: $font-serif;
  font-size: 20px;
  font-style: italic;
  line-height: 1.4em;
  margin: 25px 25px 12.5px 0;
  padding: 0 0 0 25px;
}

/* TEXT-LEVEL SEMANTICS */
/*----------------------*/

p {
  margin: 25px 0 12.5px 0;
}

a {
  color: inherit;
}

/* FORMS */
/*-------*/

/* EMBED */
/*-------*/
