/* HEADINGS */
/*----------*/

h1 {
  color: $color-grey;
  font-size: 45px;
}

h2 {
  color: $color-grey-10;
  font-size: 28px;
  margin: 25px 0 12.5px 0;
  &:hover {
    color: $color-grey;
  }
}

h3 {

}

h4 {

}

h5 {

}

h6 {

}

p {
  margin: 25px 0 12.5px 0;
}
