// COLORS
$color-grey: #333333;
$color-grey-30: lighten($color-grey, 30%);
$color-grey-70: lighten($color-grey, 70%);
$color-white: #fdfdfd;

// FONTS
$font-serif: 'Cardo', Georgia, serif;
$font-sans-serif: 'Open sans', 'Helvetica', sans-serif;
