@import 'normalize';
@import 'vars';
@import 'elements';
@import 'index';
@import 'share';
@import 'post';
@import 'navigation';
@import 'pagination';
@import 'copyright';
@import 'author';
@import 'info';
@import 'error';

body {
  background: $color-white;
  color: $color-grey;
  font-family: $font-sans-serif;
}

::-moz-selection {
  background: $color-grey-30;
  color: $color-white;
}

::selection {
  background: $color-grey-30;
  color: $color-white;
}
