@import 'normalize';
@import 'vars';
@import 'elements';
@import 'index';
@import 'share';
@import 'post';
@import 'navigation';
@import 'copyright';

body {
  background: $color-white;
  color: $color-grey;
  font-family: $font-sans-serif;
}
