<!DOCTYPE html>
<html>
<head>

    <!-- Document Settings -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- Base Meta -->
    <title>{{meta_title}}</title>
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Facebook OG Meta -->
    <meta property="og:title" content="Error: page not found..." />
    <meta property="og:description" content="The page you're looking for could not be find: try coming back to the homepage. Sorry for the inconvenience!" />

    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="{{asset "css/style.css"}}" />
</head>
<body>
  <div class="error">
    <h1>Page not found...</h1>
    <p>
      The page you're looking for could not be find.
      Try coming back to the homepage by clicking the link below.
      Sorry for the inconvenience!
    </p>
    <a href="/">Back to the homepage &rarr;</a>
  </div>
</body>
</html>
