{{!< default}}

{{> "header"}}

<div class="index">

  {{#foreach posts}}

  <div class="post">

    <a href="{{url}}"><h2>{{title}}</h2></a>
    <p>{{excerpt words="33"}}</p>

  </div>

  {{/foreach}}

</div>

{{navigation}}
