{{!< default}}

{{navigation}}

<div class="post">

  {{#post}}

    <h1>{{title}}</h1>

    {{#is "post"}}

    {{> "info"}}

    {{/is}}

    <p>{{content}}</p>

    {{#is "post"}}

    {{> "share"}}

    {{/is}}

  {{/post}}

</div>
