$color-black: #000000;
$color-grey: #333333;
$color-grey-10: lighten($color-grey, 10%);
$color-grey-30: lighten($color-grey, 30%);
$color-grey-50: lighten($color-grey, 50%);
$color-grey-70: lighten($color-grey, 70%);
$color-white: #fdfdfd;
