.navigation {
  padding: 25px;
  margin: auto;
  max-width: 600px;

  @media(min-width: 768px){
    padding: 50px;
  }

  .navigation-item-list {
    font-family: $font-sans-serif;
    font-size: 14px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

    .navigation-item {
      float: left;

      &.right {
        float: right;
      }

      a {
        display: block;
        color: $color-grey-30;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        &:hover, &:active {
          color: $color-grey;
        }
      }
    }
  }
}
